<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Biscuit Store</title>
    <link rel="stylesheet" href="~/css/min/site.min.css"/>
</head>

<body>
    @Html.Partial("HeaderMenu.cshtml")
    <div>
        @RenderBody()
    </div>
</body>
</html>
