<div class="striped-header">
    <h2>how about this?</h2>
</div>
<br/>
<div style="display: flex;">
    <div class="colour-stripe stripe-1"></div>
    <div class="colour-stripe stripe-2"></div>
    <div class="colour-stripe stripe-3"></div>
    <div class="colour-stripe stripe-4"></div>
    <div class="colour-stripe stripe-5"></div>
</div>
<div>
<br/>
</div>
<div>
    <h1>The Biscuit Store</h1>
</div>